@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-light-italic.woff2) format("woff2");
  font-weight: 300;
  font-style: italic;
} 

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-medium-italic.woff2) format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-bold-italic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MartinaPlantijn";
  src: url(Fonts/test-martina-plantijn-black-italic.woff2) format("woff2");
  font-weight: 900;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

canvas {
  display: block;
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

h1 {
  font-family:"MartinaPlantijn";
  font-weight: 400;
  font-style: normal;
  font-size: 68px;
}

a{
  color: black;
  text-decoration: none;
}


kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

#ui {
  background: white;
  height: 100vh;
}


.ui-panel {
  display: grid;
  grid-auto-rows: max-content;
  border: 1px solid black;
  gap: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:"MartinaPlantijn";
  font-weight: 400;
  font-style: normal;
  overflow-y: auto;
  direction: rtl; /* Rechts-nach-links Richtung Scrollbar */
  scroll-behavior: smooth;
}

.ui-panel * {
  direction: ltr; /* Inhalt wieder normal links-nach-rechts */
}

.oneColRow {
  background: white;
}

.twoColsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  /* border: 1px solid black; */
}

.twoColsRow > div {
  /* border: 1px solid black; */
  background: white;
  display: flex;
  align-items: center;
}

.ui-text {
  line-height: 1.2;
  font-size: 16px;
  margin: 0;
}

.label-text {
  line-height: 1.3;
  font-size: 26px;
  margin: 0;
}

.nav-text {
  line-height: 1.1;
  font-size: 40px;
  margin: 0;
  padding-bottom: 4px;
}

.mini-text {
  line-height: 1.2;
  font-size: 10px;
  margin: 0;
}

#artboard {
  background: rgb(238, 238, 238);
  border: 1px solid black;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"],
input[type="number"] {
  width: 100%;
}

#saveCanvasBttn {
  font-family: "MartinaPlantijn";
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0 10px 0;
  transition-duration: 0.3s;
}

#saveCanvasBttn:hover {
  background-color: lightgray;
}


#cleanCanvasBttn {
  font-family: "MartinaPlantijn";
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0 10px 0;
  transition-duration: 0.3s;
} 

#cleanCanvasBttn:hover {
  background-color: lightgray;
}

#buttonRow {
  display: flex;
  justify-content: space-between;
  align-items: center; /* optional */
}

#widthInput, #heightInput {
  font-size: 26px;
  font-family:"MartinaPlantijn";
  font-weight: 400;
  font-style: normal;
  border: none;
  outline: none;
  width: 60px;
}

#numButt-tilesX, #numButt-tilesY {
  font-size: 26px;
  font-family:"MartinaPlantijn";
  font-weight: 400;
  font-style: normal;
  outline: none;
  border: none;
  width: fit-content;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* Remove Arrows/Spinners from Width Height Number Input */
#widthInput::-webkit-outer-spin-button,
#widthInput::-webkit-inner-spin-button,
#heightInput::-webkit-outer-spin-button,
#heightInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#widthInput,
#heightInput {
  -moz-appearance: textfield;
}


input[type="radio"] {
  margin-right: 6px;
  transform: scale(1.2);
  cursor: pointer;
}

input[type=range] {
  border: none;
  box-shadow: none;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background: black;
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background: black;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 15px;
  height: 15px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border: none;
  width: 15px;
  height: 15px;
  box-shadow: none;
  background: black;
  border: 0;
  border-radius: 0;
}
